* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
table {
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}
.dark {
    background-color: black;
    width: 60px;
}
.column-2, .column-3 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-4 {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-1 {
    margin-top: 105px;
}
.column-1 td, .column-5 td{
    padding: 20px;
}
.column-2 td {
    padding: 20px 70px;
}
.column-3 td{
    padding: 20px 70px;
}
.column-4 td {
    padding: 20px 70px;
}
.in {
    background-color: rgb(103, 181, 225);
    height: 150px;
    width: 45%;
    text-align: center;
    border: 2px solid black;
}
.blank {
    background-color: black;
    width: 10%;
    height: 150px;
    border: 2px solid black;
}
.out {
    background-color: rgb(188, 170, 115);
    width: 45%;
    height: 150px;
    border: 2px solid black;

}
.entry {
    width: 100%;
    border: 2px solid black;
    height: 150px;
}
.blank-toright table td {
    padding: 20px;
}
.food {
    background-color: rgb(15, 190, 131);
    height: 250px;
    width: 600px;
}
.upper {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1419px) {
    body {
        overflow-x: scroll;
    }
}